<!-- navbar header -->
<div class="navbar-header">
	<a href="../index.html" class="navbar-brand">
		<span class="brand-icon"><i class="fa fa-houzz"></i></span>
		<span class="brand-name hidden-fold">{{brand}}</span>
	</a>

	<button data-toggle="menubar" class="mr-auto hidden-lg-up hamburger hamburger--collapse js-hamburger" type="button">
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</button>

	<button type="button" class="navbar-toggler hidden-lg-up collapsed" data-toggle="site-search">
		<span class="sr-only">Toggle navigation</span>
		<span class="zmdi zmdi-hc-lg zmdi-search"></span>
	</button>

	<button type="button" class="navbar-toggler hidden-lg-up collapsed" data-toggle="collapse" data-target="#site-navbar-collapse" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="zmdi zmdi-hc-lg zmdi-more"></span>
	</button>
</div><!-- .navbar-header -->

<div class="collapse navbar-collapse" id="site-navbar-collapse">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item hidden-md-down">
			<a href="javascript:void(0)" class="nav-link" data-toggle="site-search">
				<i class="zmdi zmdi-hc-lg zmdi-search"></i>
			</a>
		</li>

		<li class="nav-item dropdown">
			<a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-hc-lg zmdi-notifications"></i></a>
			<div class="dropdown-menu media-list float-right animated scaleInDownLeft">
				<a href="javascript:void(0)" class="dropdown-item media">
					<div class="avatar avatar-sm avatar-circle">
						<img src="../assets/global/images/221.jpg" alt="">
						<i class="status status-online"></i>
					</div>
					<div class="media-body">
						<h6 class="media-heading">John Doe</h6>
						<small class="media-meta">Active now</small>
					</div>
				</a><!-- ./media -->

				<a href="javascript:void(0)" class="dropdown-item media">
					<div class="avatar avatar-sm avatar-circle">
						<img src="../assets/global/images/205.jpg" alt="">
						<i class="status status-offline"></i>
					</div>
					<div class="media-body">
						<h6 class="media-heading">John Doe</h6>
						<small class="media-meta">2 hours ago</small>
					</div>
				</a><!-- ./media -->

				<a href="javascript:void(0)" class="dropdown-item media">
					<div class="avatar avatar-sm avatar-circle">
						<img src="../assets/global/images/207.jpg" alt="">
						<i class="status status-away"></i>
					</div>
					<div class="media-body">
						<h6 class="media-heading">Sara Smith</h6>
						<small class="media-meta">idle 5 min ago</small>
					</div>
				</a><!-- ./media -->

				<a href="javascript:void(0)" class="dropdown-item media">
					<div class="avatar avatar-sm avatar-circle">
						<img src="../assets/global/images/211.jpg" alt="">
						<i class="status status-away"></i>
					</div>
					<div class="media-body">
						<h6 class="media-heading">Donia Dyab</h6>
						<small class="media-meta">idle 5 min ago</small>
					</div>
				</a><!-- ./media -->
			</div>
		</li>

		<li class="nav-item dropdown">
			<a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-hc-lg zmdi-settings"></i></a>
			<div class="dropdown-menu float-right animated scaleInDownLeft">
				<a href="javascript:void(0)" class="dropdown-item py-3"><i class="zmdi mr-3 zmdi-hc-lg zmdi-account-box"></i>My Profile</a>
				<a href="javascript:void(0)" class="dropdown-item py-3"><i class="zmdi mr-3 zmdi-hc-lg zmdi-balance-wallet"></i>Balance</a>
				<a href="javascript:void(0)" class="dropdown-item py-3">
					<i class="zmdi mr-3 zmdi-hc-lg zmdi-phone-msg"></i>Connection<span class="badge badge-primary float-right">3</span>
				</a>
				<a href="javascript:void(0)" class="dropdown-item py-3"><i class="zmdi mr-3 zmdi-hc-lg zmdi-info"></i>privacy</a>
			</div>
		</li>

		<li class="nav-item">
			<a href="javascript:void(0)" class="nav-link" data-toggle="class" data-target="#site-panel" data-class="show" role="button">
				<i class="zmdi zmdi-hc-lg zmdi-apps"></i>
			</a>
		</li>
	</ul>
</div><!-- /.navbar-collapse -->