/* [6. Sidebar / .site-menubar] */

.site-menubar {
	position: fixed;
	top: $navbar-height;
	z-index: 999;
	@include media-breakpoint-down(md) {
		height: calc(100% - #{$navbar-height});
		width: $menubar-width;
		left: - ($menubar-width + 2);
		transition: left .2s, top .5s;

		body.menubar-open & {
			left: 0;
		}

		body.navbar-collapse-in & {
			top: 2 * $navbar-height;
		}
	}

	@include media-breakpoint-up(lg) {
		padding-left: $grid-gutter-width-base;
		padding-right: $grid-gutter-width-base;
		display: flex;
		flex-direction: row-reverse;
		height: $menubar-top-height;
		width: 100%;
	}
	
	@include media-breakpoint-up(xl) {
		padding-left: $menubar-width / 2;
		padding-right: $menubar-width / 2;
	}
}


.menubar-scroll-wrapper {
	@include media-breakpoint-down(md) {
		margin-top: .75rem;
		margin-bottom: .75rem;
		height: calc(100% - 120px);
		overflow: auto;
	}

	@include media-breakpoint-up(lg) {
		flex: 1;
	}
}

.site-user {
	padding: 1.5rem 1rem;
	@include media-breakpoint-up(lg) {
		flex: 0;
		display: flex;
		align-items: center;
		padding: 0 .5rem;

		.avatar {
			width: 40px;
			height: 40px;
			margin-right: 0;
		}
	}
}

.site-menu {
	padding: 0;
	margin: 0;

	li {
		position: relative;
		list-style-type: none;
		font-size: .875rem;
	}

	li a {
		display: flex;
		height: 100%;
		padding: .875rem 1rem;
		text-decoration: none;
		align-items: center;
	}

	.menu-icon {
		width: 1rem;
	}

	.menu-text {
		margin-left: 1.5rem;
		margin-right: auto;
	}

	.menu-icon + .menu-text {
		margin-left: 1rem;
	}

	.menu-caret {
		transition: transform .5s ease-in-out;
	}

	li.open > a .menu-caret {
		transform: rotate(90deg);
	}

	.submenu {
		display: none;
	}

	@include media-breakpoint-up(lg) {
		display: flex;
		height: $menubar-top-height;

		.menu-caret {
			margin-left: 1rem;
		}

		.submenu {
			min-width: 220px;
			z-index: 999;
			display: none !important;
		}

		li > .submenu {
			position: absolute;
			top: 0;
			left: 100%;
		}

		> li > .submenu {
			top: 100%;
			left: 0;
		}

		li:hover > .submenu {
			display: block !important;
		}
	}
}