---
title: Charts | Morris
body_classes: demo-examples demo-charts-morris
page:
  styles:
    - ../assets/examples/css/demos/demos.css
  scripts:
    - ../assets/examples/js/demos/charts.morris.js
  css_plugins:
    - ../assets/vendor/bower_components/morris.js/morris.css
  js_plugins:
    - ../assets/vendor/bower_components/raphael/raphael.min.js
    - ../assets/vendor/bower_components/morris.js/morris.min.js
---

<div class="demo-wrapper">
	<h5 class="mb-4">Morris Charts</h5>


	<div class="docs-brief-intro font-italic mb-4">
		For the full documentation and other examples of <strong>Morris Charts</strong> please
		<a class="text-danger" href="http://morrisjs.github.io/morris.js/index.html">Click here!</a>
	</div>

	<div class="bd-content">
		<h5 id="morris-line" class="mb-4">Line Charts</h5>
		<div class="row">
			<div class="col-lg-12">
				<div class="card p-3">
					<h6 class="mb-4">Line Example</h6>
					<div id="morris-line-1" style="height:300px;"></div>
				</div><!-- ./card -->
			</div><!-- ./col -->
		</div><!-- ./row -->

		<h5 id="morris-area" class="my-4">Area Charts</h5>
		<div class="row">
			<div class="col-lg-12">
				<div class="card p-3">
					<h6 class="mb-4">Area Example</h6>
					<div id="morris-area-1" style="height:300px;"></div>
				</div><!-- ./card -->
			</div><!-- ./col -->
		</div><!-- ./row -->

		<h5 id="morris-bar" class="my-4">Bar Charts</h5>
		<div class="row">
			<div class="col-lg-6">
				<div class="card p-3">
					<h6 class="mb-4">Bar Example</h6>
					<div id="morris-bar-1" style="height:300px;"></div>
				</div><!-- ./card -->
			</div><!-- ./col -->

			<div class="col-lg-6">
				<div class="card p-3">
					<h6 class="mb-4">Stacked Bars</h6>
					<div id="morris-bar-stacked" style="height:300px;"></div>
				</div><!-- ./card -->
			</div><!-- ./col -->
		</div><!-- /.row -->

		<h5 id="morris-donut" class="my-4">Donut Charts</h5>
		<div class="row">
			<div class="col-lg-12">
				<div class="card p-3">
					<h6 class="mb-4">Donut Example</h6>
					<div id="morris-donut-1" style="height:300px;"></div>
				</div><!-- ./card -->
			</div><!-- ./col -->
		</div><!-- ./row -->
	</div><!-- ./bd-content -->
</div><!-- /.demo-wrapper -->