/* [10. Footer / .site-footer] */
.site-footer {
	border-top: 1px solid darken($border-color-default, 5%);
	background: none;
	padding: .75rem 1.5rem;
	display: flex;
	flex: 0 0 auto;
	background-color: #FFF;
	.copyright {
		margin-right: auto;
	}

	.footer-menu {
		a {
			color: $text-color;
			display: inline-block;
			margin-right: 16px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		flex-direction: column-reverse;
		align-items: center;
		padding: 1rem;

		.footer-menu {
			margin-bottom: 1rem;
		}

		.copyright {
			margin-right: 0;
		}
	}
}