/* [2. Navigation / .site-navbar] */
 .navbar {
 	padding: 0;
 	height: $navbar-height;
 }

// navbar header
.navbar-header {
	flex: 0 0 $menubar-width;
	height: $navbar-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	@include media-breakpoint-down(sm) {
		flex-basis: 100%;
	}

	@include media-breakpoint-up(md) {
		body.menubar-fold & {
			flex-basis: $menubar-width-fold;
			justify-content: center;
		}
	}
}

// navbar-brand
.navbar-brand {
	margin: 0;
	display: flex;
	align-items: center;

	> .brand-name {
		font-weight: 500;
	}
	
	> .brand-icon {
		font-size: 1.75rem;
		margin-right: .5rem;
		transition: margin-right .5s;
	}
	
	@include media-breakpoint-up(md) {
		body.menubar-fold & {
			> .brand-icon {
				margin-right: 0;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

// navbar-collapse
.navbar-collapse {
	position: relative;
	height: $navbar-height;
	padding-left: .75rem;
	padding-right: .75rem;
	@include media-breakpoint-down(sm) {
		box-shadow: 0 2px 4px rgba(0,0,0,.08);
		padding-right: .75rem;
		padding-left: .75rem;
		background: #fff;
	}

	.navbar-container {
		min-width: 100%;
	}
}