---
title: Alerts Demo
body_classes: demo-examples demo-uikit-alerts
page:
  styles:
    - ../assets/examples/css/demos/demos.css
---

<div class="demo-wrapper">
	<h3 class="mb-4">Alerts</h3>

	<div class="docs-brief-intro font-italic mb-4">
		Alerts variations and options
	</div>
	<div class="card">
		<div class="row">
			<div class="col-lg-6">
				<div>
					<h5 class="mb-4">Default Alerts</h5>
					<p>
						Use one of the four required contextual classes (e.g., <code>.alert-success</code>).
					</p>
					<div class="alert alert-success" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa fa-rocket mr-3"></i>You successfully read this important alert message.
					</div>
					<div class="alert alert-info" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa fa-bell mr-3"></i>This alert needs your attention, but it's not important.
					</div>
					<div class="alert alert-warning" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa fa-trash mr-3"></i>Better check yourself, you're not looking too good.
					</div>
					<div class="alert alert-danger" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa fa-bug mr-3"></i>Change a few things up and try submitting again.
					</div>
				</div><!-- /.mb-5 -->
			</div><!-- /.col -->

			<div class="col-lg-6">
				<div>
					<h5 class="mb-4">Outline Alerts</h5>
					<p>
						Use one of the four required contextual classes and additionally add <code>.alert-outline</code>
					</p>
					<div class="alert alert-outline alert-success" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa fa-rocket mr-3"></i>You successfully read this important alert message.
					</div>
					<div class="alert alert-outline alert-info" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa fa-bell mr-3"></i>This alert needs your attention, but it's not important.
					</div>
					<div class="alert alert-outline alert-warning" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa fa-trash mr-3"></i>Better check yourself, you're not looking too good.
					</div>
					<div class="alert alert-outline alert-danger" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa fa-bug mr-3"></i>Change a few things up and try submitting again.
					</div>
				</div><!-- /.mb-5 -->
			</div><!-- /.col -->

			<div class="col-lg-12 mt-5">
				<h5 class="mb-4">Other Examples</h5>
				<p>
					You can add <code>.alert-rounded</code> for rounded corners
				</p>
				<div class="alert alert-warning alert-rounded">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="media p-3">
						<i class="fa fa-bell fa-2x mr-4"></i>
						<div class="media-body">
							<h6>This Is A Warning</h6>
							<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nemo porro voluptas.</div>
						</div>
					</div>
				</div>

				<div class="alert alert-outline alert-info">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="media p-3">
						<i class="fa fa-envelope fa-2x mr-4"></i>
						<div class="media-body">
							<h6>You Have New Messages</h6>
							<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nemo porro voluptas.</div>
						</div>
					</div>
				</div>

				<div class="alert alert-outline alert-success">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="media p-3">
						<i class="fa fa-rocket fa-2x mr-4"></i>
						<div class="media-body">
							<h6>Your App Lunched Successfully</h6>
							<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nemo porro voluptas.</div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.card -->
</div><!-- /.demo-wrapper -->