---
title: User Cards
body_classes: demo-page demo-users-cards
---

<div class="row">
	<div class="col-lg-3 col-sm-6">
		<div class="card bg-faded">
			<img class="card-img-top" src="../assets/global/images/101.jpg" alt="">
			<div class="card-block text-center">
				<h6>Suzanne Deerman</h6>
				<div class="mb-3">Web developer</div>
				<div>
					<a href="#" class="social-icon text-hv-facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="social-icon text-hv-twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="social-icon text-hv-linkedin"><i class="fa fa-linkedin"></i></a>
					<a href="#" class="social-icon text-hv-flickr"><i class="fa fa-flickr"></i></a>
				</div>
			</div><!-- /.card-block -->
		</div><!-- /.card -->
	</div><!-- /.col -->

	<div class="col-lg-3 col-sm-6">
		<div class="card bg-faded p-1">
			<img class="card-img-top" src="../assets/global/images/102.jpg" alt="">
			<div class="card-block text-center bg-white">
				<h6>Kelley Arata</h6>
				<div class="mb-3">Web developer</div>
				<div>
					<a href="#" class="social-icon text-hv-facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="social-icon text-hv-twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="social-icon text-hv-linkedin"><i class="fa fa-linkedin"></i></a>
					<a href="#" class="social-icon text-hv-flickr"><i class="fa fa-flickr"></i></a>
				</div>
			</div><!-- /.card-block -->
		</div><!-- /.card -->
	</div><!-- /.col -->

	<div class="col-lg-3 col-sm-6">
		<div class="card bg-white">
			<img class="card-img-top" src="../assets/global/images/103.jpg" alt="">
			<div class="card-block text-center bg-white">
				<h6>Agnus Axtman</h6>
				<div class="mb-3">developer</div>
				<div class="d-flex justify-content-center">
					<a href="#" class="btn btn-icon btn-icon-flip mr-2">
						<i class="fa fa-facebook"></i>
						<i class="fa fa-facebook bg-facebook"></i>
					</a>
					<a href="#" class="btn btn-icon btn-icon-flip mr-2">
						<i class="fa fa-twitter"></i>
						<i class="fa fa-twitter bg-twitter"></i>
					</a>
					<a href="#" class="btn btn-icon btn-icon-flip mr-2">
						<i class="fa fa-google-plus"></i>
						<i class="fa fa-google-plus bg-google-plus"></i>
					</a>
				</div>
			</div><!-- /.card-block -->
		</div><!-- /.card -->
	</div><!-- /.col -->

	<div class="col-lg-3 col-sm-6">
		<div class="card bg-faded">
			<img class="card-img-top" src="../assets/global/images/104.jpg" alt="">
			<div class="card-block text-center">
				<h6>Agnus Axtman</h6>
				<div class="mb-3">developer</div>
				<div class="d-flex justify-content-center">
					<a href="#" class="btn btn-icon btn-icon-flip mr-2">
						<i class="fa fa-facebook"></i>
						<i class="fa fa-facebook bg-facebook"></i>
					</a>
					<a href="#" class="btn btn-icon btn-icon-flip mr-2">
						<i class="fa fa-twitter"></i>
						<i class="fa fa-twitter bg-twitter"></i>
					</a>
					<a href="#" class="btn btn-icon btn-icon-flip mr-2">
						<i class="fa fa-google-plus"></i>
						<i class="fa fa-google-plus bg-google-plus"></i>
					</a>
				</div>
			</div><!-- /.card-block -->
		</div><!-- /.card -->
	</div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
	<div class="col-lg-6">
		<div class="card bg-faded p-3">
			<div class="media">
				<img class="avatar avatar-xl" src="../assets/global/images/202.jpg" alt="">
				<div class="media-body">
					<h5 class="my-2">Asa Nippert</h5>
					<div class="mb-3">Web developer</div>
					<div>
						<a href="#" class="btn btn-icon btn-icon-flip mr-2">
							<i class="fa fa-facebook"></i>
							<i class="fa fa-facebook bg-facebook"></i>
						</a>
						<a href="#" class="btn btn-icon btn-icon-flip mr-2">
							<i class="fa fa-twitter"></i>
							<i class="fa fa-twitter bg-twitter"></i>
						</a>
						<a href="#" class="btn btn-icon btn-icon-flip mr-2">
							<i class="fa fa-google-plus"></i>
							<i class="fa fa-google-plus bg-google-plus"></i>
						</a>
						<a href="#" class="btn btn-icon btn-icon-flip mr-2">
							<i class="fa fa-flickr"></i>
							<i class="fa fa-flickr bg-flickr"></i>
						</a>
					</div>
				</div><!-- /.media-body -->
			</div><!-- /.media -->
		</div><!-- /.card -->
	</div><!-- /.col -->

	<div class="col-lg-6">
		<div class="card bg-faded p-2">
			<div class="media bg-white p-2">
				<img class="avatar avatar-xl" src="../assets/global/images/203.jpg" alt="">
				<div class="media-body">
					<h5 class="my-2">Gianna Geralds</h5>
					<div class="mb-3">Web Designer</div>
					<div>
						<a href="#" class="btn btn-icon btn-icon-flip mr-2">
							<i class="fa fa-facebook"></i>
							<i class="fa fa-facebook bg-facebook"></i>
						</a>
						<a href="#" class="btn btn-icon btn-icon-flip mr-2">
							<i class="fa fa-twitter"></i>
							<i class="fa fa-twitter bg-twitter"></i>
						</a>
						<a href="#" class="btn btn-icon btn-icon-flip mr-2">
							<i class="fa fa-google-plus"></i>
							<i class="fa fa-google-plus bg-google-plus"></i>
						</a>
						<a href="#" class="btn btn-icon btn-icon-flip mr-2">
							<i class="fa fa-flickr"></i>
							<i class="fa fa-flickr bg-flickr"></i>
						</a>
					</div>
				</div><!-- /.media-body -->
			</div><!-- /.media -->
		</div><!-- /.card -->
	</div><!-- /.col -->  
</div><!-- /.row -->

<div class="row">
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-12 col-sm-6">
				<div class="card bg-faded p-1">
					<div class="media p-2">
						<img class="avatar avatar-lg" src="../assets/global/images/201.jpg" alt="">
						<div class="media-body">
							<h6 class="my-2">Asa Nippert</h6>
							<div class="mb-2">Designer</div>
							<div>
								<a href="#" class="social-icon text-hv-facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="social-icon text-hv-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-icon text-hv-linkedin"><i class="fa fa-linkedin"></i></a>
								<a href="#" class="social-icon text-hv-flickr"><i class="fa fa-flickr"></i></a>
							</div>
						</div><!-- /.media-body -->
					</div><!-- /.media -->
				</div><!-- /.card -->
			</div><!-- /.col -->

			<div class="col-lg-12 col-sm-6">
				<div class="card bg-faded p-1">
					<div class="media bg-white p-2">
						<img class="avatar avatar-lg" src="../assets/global/images/211.jpg" alt="">
						<div class="media-body">
							<h6 class="my-2">Marilynn Donkin</h6>
							<div class="mb-2">Engineer</div>
							<div>
								<a href="#" class="social-icon text-hv-facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="social-icon text-hv-twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-icon text-hv-linkedin"><i class="fa fa-linkedin"></i></a>
								<a href="#" class="social-icon text-hv-flickr"><i class="fa fa-flickr"></i></a>
							</div>
						</div><!-- /.media-body -->
					</div><!-- /.media -->
				</div><!-- /.card -->
			</div><!-- /.col -->
		</div><!-- .row -->
	</div><!-- /.col -->

	<div class="col-lg-7">
		<div class="row">
			<div class="col-lg-12 col-md-6">
				<div class="card p-1 bg-faded">
					<div class="media p-3">
						<img class="avatar avatar-circle avatar-md" src="../assets/global/images/214.jpg" alt="">
						<div class="media-body">
							<h6>Clementina Blazier</h6>
							<div>Android Developer</div>
						</div><!-- /.media-body -->
						<div>
							<a href="#" class="social-icon text-hv-facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-icon text-hv-twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-icon text-hv-linkedin"><i class="fa fa-linkedin"></i></a>
							<a href="#" class="social-icon text-hv-flickr"><i class="fa fa-flickr"></i></a>
						</div>
					</div><!-- /.media -->
				</div><!-- /.card -->
			</div><!-- /.col -->

			<div class="col-lg-12 col-md-6">
				<div class="card p-1 bg-faded">
					<div class="media bg-white p-3">
						<img class="avatar avatar-circle avatar-md" src="../assets/global/images/214.jpg" alt="">
						<div class="media-body">
							<h6>Kandice Patria</h6>
							<div>IOS Developer</div>
						</div><!-- /.media-body -->
						<div>
							<a href="#" class="social-icon text-hv-facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-icon text-hv-twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-icon text-hv-linkedin"><i class="fa fa-linkedin"></i></a>
							<a href="#" class="social-icon text-hv-flickr"><i class="fa fa-flickr"></i></a>
						</div>
					</div><!-- /.media -->
				</div><!-- /.card -->
			</div><!-- /.col -->
		</div><!-- .row -->
	</div><!-- .col -->
</div><!-- .row -->
