---
title: Widgets Demo
body_classes: demo-examples demo-uikit-widgets
page:
  js_plugins:
    - ../assets/vendor/bower_components/jquery-circle-progress/dist/circle-progress.js
---

<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">Box Title</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body text-center">
				<div class="big-icon mb-3 watermark"><i class="fa fa-5x fa-exclamation-circle"></i></div>
				<h5 class="mb-3">LOREM IPSUM</h5>
				<p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat officiis aperiam incidunt.</p>
				<a href="#" class="btn px-5 btn-secondary">Button</a>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">Box Title</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body text-center">
				<div class="big-icon mb-3 watermark"><i class="fa fa-5x fa-dribbble"></i></div>
				<h5 class="mb-3">LOREM IPSUM</h5>
				<p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat officiis aperiam incidunt.</p>
				<a href="#" class="btn px-5 btn-primary">Button</a>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->
	
	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">Box Title</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body text-center">
				<div class="big-icon mb-3 watermark"><i class="fa fa-5x fa-drupal"></i></div>
				<h5 class="mb-3">LOREM IPSUM</h5>
				<p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat officiis aperiam incidunt.</p>
				<a href="#" class="btn px-5 btn-success">Button</a>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">Box Title</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body text-center">
				<div class="big-icon mb-3 watermark"><i class="fa fa-5x fa-futbol-o"></i></div>
				<h5 class="mb-3">LOREM IPSUM</h5>
				<p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat officiis aperiam incidunt.</p>
				<a href="#" class="btn px-5 btn-info">Button</a>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->
	
	<!-- new row -->
	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">Total Revenue</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body">
				<div class="clearfix">
					<div class="float-left">
						<div class="pieprogress text-primary" data-plugin="circleProgress" data-value=".6" data-thickness="10" data-start-angle="90" data-empty-fill="rgba(24, 138, 226, .3)" data-fill="{&quot;color&quot;: &quot;#188ae2&quot;}">
							<strong>%60</strong>
						</div>
					</div>
					<div class="float-right">
						<h3 class="mb-1 text-right counter" data-plugin="counterUp">259</h3>
						<small class="text-muted">revenue today</small>
					</div>
				</div>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">Total Revenue</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body">
				<div class="clearfix">
					<div class="float-left">
						<div class="pieprogress text-success" data-plugin="circleProgress" data-value=".7" data-thickness="10" data-start-angle="-300" data-empty-fill="rgba(16, 196, 105,.3)" data-fill="{&quot;color&quot;: &quot;#10c469&quot;}">
							<strong>%70</strong>
						</div>
					</div>
					<div class="float-right">
						<h3 class="mb-1 text-right counter" data-plugin="counterUp">2318</h3>
						<small class="text-muted">revenue today</small>
					</div>
				</div>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">Total Revenue</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body">
				<div class="clearfix">
					<div class="float-left">
						<div class="pieprogress text-warning" data-plugin="circleProgress" data-value=".77" data-thickness="10" data-start-angle="0" data-empty-fill="rgba(249, 200, 81, .3)" data-fill="{&quot;color&quot;: &quot;#f9c851&quot;}">
							<strong>%77</strong>
						</div>
					</div>
					<div class="float-right">
						<h3 class="mb-1 text-right counter" data-plugin="counterUp">950</h3>
						<small class="text-muted">revenue today</small>
					</div>
				</div>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">Total Revenue</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body">
				<div class="clearfix">
					<div class="float-left">
						<div class="pieprogress text-danger" data-plugin="circleProgress" data-value=".65" data-thickness="10" data-start-angle="-180" data-empty-fill="rgba(255, 91, 91, .3)" data-fill="{&quot;color&quot;: &quot;#ff5b5b&quot;}">
							<strong>%65</strong>
						</div>
					</div>
					<div class="float-right">
						<h3 class="mb-1 text-right counter" data-plugin="counterUp">1500</h3>
						<small class="text-muted">revenue today</small>
					</div>
				</div>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<!-- new row -->
	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">PAGE VIEWS</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body pt-4">
				<div class="clearfix mb-3">
					<h3 class="float-left text-primary m-0 "><span class="counter" data-plugin="counterUp">160</span>K+</h3>
					<div class="float-right watermark"><i class="fa fa-2x fa-tv"></i></div>
				</div>
				<p class="m-border-a-0 text-muted">Consectetur adipisicing elit. Consequatur eaque corporis laudantium.</p>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">PAGE VIEWS</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body pt-4">
				<div class="clearfix mb-3">
					<h3 class="float-left text-success m-0 "><span class="counter" data-plugin="counterUp">960</span>K+</h3>
					<div class="float-right watermark"><i class="fa fa-2x fa-mobile"></i></div>
				</div>
				<p class="m-border-a-0 text-muted">Consectetur adipisicing elit. Consequatur eaque corporis laudantium.</p>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">PAGE VIEWS</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body pt-4">
				<div class="clearfix mb-3">
					<h3 class="float-left text-warning m-0 "><span class="counter" data-plugin="counterUp">120</span>K+</h3>
					<div class="float-right watermark"><i class="fa fa-2x fa-smile-o"></i></div>
				</div>
				<p class="m-border-a-0 text-muted">Consectetur adipisicing elit. Consequatur eaque corporis laudantium.</p>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">PAGE VIEWS</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body pt-4">
				<div class="clearfix mb-3">
					<h3 class="float-left text-danger m-0 "><span class="counter" data-plugin="counterUp">190</span>K+</h3>
					<div class="float-right watermark"><i class="fa fa-2x fa-object-ungroup"></i></div>
				</div>
				<p class="m-border-a-0 text-muted">Consectetur adipisicing elit. Consequatur eaque corporis laudantium.</p>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<!-- new row -->
	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">USER</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body py-4">
				<div class="media">
					<div class="avatar avatar-circle">
						<img src="../assets/global/images/209.jpg" alt="avatar"/>
					</div><!-- /.avatar -->
					<div class="media-body">
						<h4 class="media-heading">TOMASLAU</h4>
						<small class="media-meta">envato@markt.com</small>
						<small class="media-meta text-primary">ADMIN</small>
					</div>
				</div>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->
	
	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">USER</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body py-4">
				<div class="media">
					<div class="avatar avatar-circle">
						<img src="../assets/global/images/211.jpg" alt="avatar"/>
					</div><!-- /.avatar -->
					<div class="media-body">
						<h4 class="media-heading">TOMASLAU</h4>
						<small class="media-meta">envato@markt.com</small>
						<small class="media-meta text-success">ADMIN</small>
					</div>
				</div>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">USER</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body py-4">
				<div class="media">
					<div class="avatar avatar-circle">
						<img src="../assets/global/images/213.jpg" alt="avatar"/>
					</div><!-- /.avatar -->
					<div class="media-body">
						<h4 class="media-heading">TOMASLAU</h4>
						<small class="media-meta">envato@markt.com</small>
						<small class="media-meta text-warning">ADMIN</small>
					</div>
				</div>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<header class="widget-header">
				<h4 class="widget-title">USER</h4>
			</header><!-- /.widget-header -->
			<hr class="widget-separator">
			<div class="widget-body py-4">
				<div class="media">
					<div class="avatar avatar-circle">
						<img src="../assets/global/images/216.jpg" alt="avatar"/>
					</div><!-- /.avatar -->
					<div class="media-body">
						<h4 class="media-heading">TOMASLAU</h4>
						<small class="media-meta">envato@markt.com</small>
						<small class="media-meta text-danger">ADMIN</small>
					</div>
				</div>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->
	<!-- new row -->
	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<div class="widget-body text-center">
				<h4 class="text-primary mb-3">TITLE TEXT</h4>
				<p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat officiis aperiam incidunt.</p>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<div class="widget-body text-center">
				<h4 class="text-success mb-3">TITLE TEXT</h4>
				<p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat officiis aperiam incidunt.</p>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<div class="widget-body text-center">
				<h4 class="text-warning mb-3">TITLE TEXT</h4>
				<p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat officiis aperiam incidunt.</p>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->

	<div class="col-md-3 col-sm-6">
		<div class="widget">
			<div class="widget-body text-center">
				<h5 class="text-danger mb-3">TITLE TEXT</h5>
				<p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat officiis aperiam incidunt.</p>
			</div><!-- /.widget-body -->
		</div><!-- /.widget -->
	</div><!-- /.col -->
</div><!-- /.row -->
