---
title: Error | Not Found
layout: simple.hbs
body_classes: page-404
page:
  styles:
    - ../assets/examples/css/pages/404.css
---

<div class="simple-page-content mb-4">
	<div class="simple-page-logo animated zoomIn">
		<a href="index.html">
			<span><i class="fa fa-houzz"></i></span>
			<span>Kiwi</span>
		</a>
	</div><!-- logo -->
	
	<div class="animated shake">
		<h1 id="_404" class="text-center text-white">404</h1>
		<p class="text-white text-center">Oops, an error occur. The page can't be found</p>
		
		<!-- <div class="animated slideInUp"> -->
			<form action="#">
				<div class="input-group">
					<input type="search" class="form-control" placeholder="search">
					<div class="input-group-addon"><i class="fa fa-search"></i></div>
				</div>
			</form>
		<!-- </div> -->
	</div>
</div><!-- /.simple-page-content -->