---
title: Forgot Password
layout: simple.hbs
body_classes: page-forgot-password
page:
  styles:
    - ../assets/examples/css/pages/login.css
---

<div class="simple-page-content mb-4">
	<div class="simple-page-logo animated zoomIn">
		<a href="index.html">
			<span><i class="fa fa-houzz"></i></span>
			<span>Kiwi</span>
		</a>
	</div><!-- logo -->

	<div class="simple-page-form animated flipInY" id="reset-password-form">
		<h6 class="form-title mb-4 text-center">Forgot Your Password ?</h6>

		<form action="#">
			<div class="form-group">
				<input id="reset-password-email" type="email" class="form-control" placeholder="email">
			</div>
			<input type="submit" class="btn btn-primary" value="RESET YOUR PASSWORD">
		</form>
	</div><!-- #reset-password-form -->
</div><!-- /.simple-page-content -->