---
title: Unlock
layout: simple.hbs
body_classes: page-unlock
page:
  styles:
    - ../assets/examples/css/pages/unlock.css
---

<div class="simple-page-content">
	<div class="animated zoomInDown d-flex flex-column align-items-center">
		<img class="avatar avatar-lg avatar-circle mb-3 mr-0" src="../assets/global/images/217.jpg" alt="avatar"/>
		<h5 class="text-center text-white text-uppercase mb-4">Jane Doe</h5>

		<form action="#">
			<div class="form-group">
				<input id="unlock-password-field" type="password" class="form-control" placeholder="password" autocomplete="off">
			</div>
			<div class="text-center">
				<input class="w-50 btn bg-white text-primary" type="submit" value="Unlock">
			</div>
		</form>
	</div>
</div><!-- /.simple-page-content -->