<div class="modal fade gallery-modal" id="gallery-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-body p-4">
				<!-- image -->
				<div>
					<img class="img-full" src="../assets/global/images/demo-img-03.jpg" alt="">
					<div class="mt-3 d-flex">
						<div class="mr-auto">
							<span class="mr-3">
							<i class="zmdi zmdi-link zmdi-hc-lg mr-2"></i>1500
							</span>
						</div>
						<div>
							<span class="mr-4">
								<i class="zmdi zmdi-eye zmdi-hc-lg mr-2"></i>50,513
							</span>
							<span class="mr-4">
								<i class="zmdi zmdi-thumb-up zmdi-hc-lg mr-2"></i>2085
							</span>
							<span>
								<i class="zmdi zmdi-comments zmdi-hc-lg mr-2"></i>24
							</span>
						</div>
					</div>
				</div>
				<!-- image -->

				<!-- content -->
				<div class="mt-4">
					<h4 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste laudantium voluptatem quaerat, unde cum dicta optio, repellat illum vel quidem, voluptatibus illo impedit quae quis sequi, pariatur nobis saepe architecto.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste laudantium voluptatem quaerat, unde cum dicta optio, repellat illum vel quidem, voluptatibus illo impedit quae quis sequi, pariatur nobis saepe architecto.
					</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusamus cum molestias dolor fugiat corporis. ipsum dolor sit amet, consectetur adipisicing elit. Non, laborum vel. Numquam soluta perspiciatis, eum.</p>
				</div>
				<!-- content -->

				<!-- Comments -->
				<div class="mt-5">
					<h5 class="mb-4">24 Comments</h5>
					<div class="card bg-faded p-4 border-radius-1">
						<div class="media">
							<a href="#" class="avatar avatar-circle avatar-lg">
								<img src="../assets/global/images/207.jpg" alt="">
							</a>

							<div class="media-body">
								<div class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eaque ipsum autem est soluta ipsam sapiente, nemo odio veniam, atque iure quod.</div>
								<a href="#" class="font-italic font-weight-normal">Reply</a>
							</div>
						</div><!-- /.media -->
					</div><!-- /.card -->

					<div class="card bg-faded p-4 border-radius-1">
						<div class="media">
							<a href="#" class="avatar avatar-circle avatar-lg">
								<img src="../assets/global/images/208.jpg" alt="">
							</a>

							<div class="media-body">
								<div class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eaque ipsum autem est soluta ipsam sapiente, nemo odio veniam, atque iure quod.</div>
								<a href="#" class="font-italic font-weight-normal">Reply</a>
							</div>
						</div><!-- /.media -->
					</div><!-- /.card -->
				</div>
				<!-- /.comments -->

				<!-- add comment -->
				<div class="mt-5">
					<h5 class="mb-4">Add Comment</h5>
					<textarea class="form-control p-4 mb-4" name="add_comment_field" id="add_comment_field" rows="8" placeholder="Your Comment..."></textarea>
					<button class="btn btn-success btn-block btn-lg fz-base">Add your comment</button>
				</div>
				<!-- add comment -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
