<div class="d-flex">
	<span class="mr-auto">
		<i class="zmdi zmdi-eye zmdi-hc-lg mr-2"></i>124
	</span>
	<span class="mr-4">
		<i class="zmdi zmdi-thumb-up zmdi-hc-lg mr-2"></i>45
	</span>
	<span>
		<i class="zmdi zmdi-comments zmdi-hc-lg mr-2"></i>28
	</span>
</div>
