<form action="#" class="site-search-form">
	<input class="search-field" type="search" placeholder="Search..."/>
	<span class="search-icon">
		<i class="fa fa-search"></i>
	</span>
	<button type="button" class="site-search-close" data-toggle="site-search">
		<i class="fa fa-close"></i>
	</button>
</form>
<div class="site-search-backdrop" data-toggle="site-search"></div>
