<div class="copyright">Made with <i class="fa fa-heart text-danger"></i> by <a class="text-info" href="http://spantags.com">SpanTags</a> 2017</div>
<div class="footer-menu">
	<a href="javascript:void(0)">Careers</a>
	<a href="javascript:void(0)">Privacy Policy</a>
	<a href="javascript:void(0)">Feedback</a>
</div>

