<!-- theme customizer -->
<div id="theme-customizer">
	<header class="p-4">
		<a href="https://themeforest.net/item/kiwi-responsive-web-app-kit/20562688?s_rank=1" class="btn btn-block btn-lg btn-primary fz-base">BUY {{brand}} NOW!</a>
		<hr>
		<div class="d-flex justify-content-between customizer-action-btns">
			<button id="customizerResetButton" class="btn btn-outline-danger">Reset</button>
			<button id="customizerSaveButton" class="btn btn-outline-success">Save</button>
		</div>
	</header>
	
	<div class="theme-customizer-body">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="navbar-tab" data-toggle="tab" href="#navbar" role="tab" aria-controls="navbar" aria-expanded="true">Navbar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="menubar-tab" data-toggle="tab" href="#menubar" role="tab" aria-controls="menubar" aria-expanded="true">Menubar</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane p-4 fade show active" id="navbar" role="tabpanel" aria-labelledby="navbar-tab">
				<div>
					<input id="navbarInverse" data-toggle="navbarInverse" type="checkbox" data-plugin="switchery" data-size="small" />
					<label for="navbarInverse" class="ml-3">Navbar Inverse</label>
				</div>
				<hr>
				<h6 class="mb-4">Navbar Skin</h6>
				<div class="mb-3">
					<div class="radio radio-indigo">
						<input type="radio" id="nb-skin-2" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-indigo-500">
						<label for="nb-skin-2">Indigo</label>
					</div>
				</div>

				<div class="mb-3">
					<div class="radio radio-blue">
						<input type="radio" id="nb-skin-4" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-blue-500">
						<label for="nb-skin-4">Blue</label>
					</div>
				</div>

				<div class="mb-3">
					<div class="radio radio-cyan">
						<input type="radio" id="nb-skin-6" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-cyan-500">
						<label for="nb-skin-6">Cyan</label>
					</div>
				</div>

				<div class="mb-3">
					<div class="radio radio-orange">
						<input type="radio" id="nb-skin-5" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-orange-500">
						<label for="nb-skin-5">Orange</label>
					</div>
				</div>


				<div class="mb-3">
					<div class="radio radio-red">
						<input type="radio" id="nb-skin-7" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-red-500">
						<label for="nb-skin-7">Red</label>
					</div>
				</div>

				<div class="mb-3">
					<div class="radio radio-pink">
						<input type="radio" id="nb-skin-13" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-pink-500">
						<label for="nb-skin-13">Pink</label>
					</div>
				</div>

				<div class="mb-3">
					<div class="radio radio-purple">
						<input type="radio" id="nb-skin-12" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-purple-500">
						<label for="nb-skin-12">Purple</label>
					</div>
				</div>

				<div class="mb-3">
					<div class="radio radio-green">
						<input type="radio" id="nb-skin-8" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-green-500">
						<label for="nb-skin-8">Green</label>
					</div>
				</div>

				<div class="mb-3">
					<div class="radio radio-teal">
						<input type="radio" id="nb-skin-9" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-teal-500">
						<label for="nb-skin-9">Teal</label>
					</div>
				</div>

				<div class="mb-3">
					<div class="radio radio-brown">
						<input type="radio" id="nb-skin-10" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-brown-500">
						<label for="nb-skin-10">Brown</label>
					</div>
				</div>

				<div>
					<div class="radio radio-gray">
						<input type="radio" id="nb-skin-11" name="navbar-skin-option" data-toggle="navbarSkin" data-skin="bg-gray-500">
						<label for="nb-skin-11">Gray</label>
					</div>
				</div>
			</div><!-- /.tab-pane -->

			<div class="tab-pane fade p-4" id="menubar" role="tabpanel" aria-labelledby="menubar-tab">
				<div>
					<input id="menubarInverse" data-toggle="menubarInverse" type="checkbox" data-plugin="switchery" data-size="small" />
					<label for="menubarInverse" class="ml-3">Menubar Inverse</label>
				</div>
				<hr>
				<div class="hidden-top hidden-sm-down">
					<input id="menubarFold" data-toggle="menubarFold" type="checkbox" data-plugin="switchery" data-size="small" />
					<label for="menubarFold" class="ml-3">Menubar Folded</label>
				</div>
			</div><!-- /.tab-pane -->
		</div><!-- /.tab-content -->


		<div id="theme-customizer-toggler" data-toggle="class" data-target="#theme-customizer" data-class="show">
			<i class="fa fa-gear fa-2x"></i>
		</div>
	</div><!-- /.theme-customizer-body -->
</div><!-- /.theme-customizer -->
