<div class="modal fade video-modal" id="video-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <iframe src="about:blank" width="760" height="440" allowfullscreen></iframe>
    </div>
  </div>
</div><!-- #video-modal -->
