/* Background variants */
.bg-none {
  background: none !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-black {
  background-color: $brand-black !important;
  color: #fff !important;
}

.bg-inverse {
  background-color: $brand-inverse !important;
  color: #fff !important;
}

.bg-pink {
  background-color: $brand-pink !important;
  color: #fff !important;
}

.bg-purple {
  background-color: $brand-purple !important;
  color: #fff !important;
}

.bg-gray {
  background-color: #bbb !important;
  color: #fff !important;
}

.bg-eee {
  background: #eee !important;
}

.bg-faded {
  background: $bg-faded !important;
}

.bg-facebook,
.bg-hv-facebook:hover {
  background-color: $brand-facebook !important;
  color: #fff !important;
}

.bg-twitter,
.bg-hv-twitter:hover {
  background-color: $brand-twitter !important;
  color: #fff !important;
}

.bg-google-plus,
.bg-hv-google-plus:hover {
  background-color: $brand-google-plus !important;
  color: #fff !important;
}

.bg-youtube,
.bg-hv-youtube:hover {
  background-color: $brand-youtube !important;
  color: #fff !important;
}

.bg-linkedin,
.bg-hv-linkedin:hover {
  background-color: $brand-linkedin !important;
  color: #fff !important;
}

.bg-flickr,
.bg-hv-flickr:hover {
  background-color: $brand-flickr !important;
  color: #fff !important;
}

.bg-tumblr,
.bg-hv-tumblr:hover {
  background-color: $brand-tumblr !important;
  color: #fff !important;
}

.bg-dribbble,
.bg-hv-dribbble:hover {
  background-color: $brand-dribbble !important;
  color: #fff !important;
}

.bg-red-500 {
	background-color: $red-500 !important;
}

.bg-red-700 {
	background-color: $red-700 !important;
}

.bg-pink-500 {
	background-color: $pink-500 !important;
}

.bg-pink-700 {
	background-color: $pink-700 !important;
}

.bg-purple-500 {
	background-color: $purple-500 !important;
}

.bg-purple-700 {
	background-color: $purple-700 !important;
}

.bg-indigo-500 {
	background-color: $indigo-500 !important;
}

.bg-indigo-700 {
	background-color: $indigo-700 !important;
}

.bg-blue-500 {
	background-color: $blue-500 !important;
}

.bg-blue-700 {
	background-color: $blue-700 !important;
}

.bg-cyan-500 {
	background-color: $cyan-500 !important;
}

.bg-cyan-700 {
	background-color: $cyan-700 !important;
}

.bg-teal-500 {
	background-color: $teal-500 !important;
}

.bg-teal-700 {
	background-color: $teal-700 !important;
}

.bg-green-500 {
	background-color: $green-500 !important;
}

.bg-green-700 {
	background-color: $green-700 !important;
}

.bg-yellow-500 {
	background-color: $yellow-500 !important;
}

.bg-yellow-700 {
	background-color: $yellow-700 !important;
}

.bg-orange-500 {
	background-color: $orange-500 !important;
}

.bg-orange-700 {
	background-color: $orange-700 !important;
}

.bg-brown-500 {
	background-color: $brown-500 !important;
}

.bg-brown-700 {
	background-color: $brown-700 !important;
}

.bg-gray-500 {
	background-color: $gray-500 !important;
}

.bg-gray-700 {
	background-color: $gray-700 !important;
}