---
title: Search | Images
body_classes: page-search page-search-images no-padding
page:
  styles:
    - ../assets/examples/css/pages/search.css
  css_plugins:
    - ../assets/vendor/bower_components/lightbox2/dist/css/lightbox.min.css
  js_plugins:
    - ../assets/vendor/bower_components/lightbox2/dist/js/lightbox.min.js
---

<div class="search-header">
	<div class="search-form-wrap">
		<form action="#">
			<div class="row">
				<div class="col-xs-12 col-sm-8 offset-sm-1">
					<input type="search" class="form-control search-form-field" placeholder="What are you looking for">
				</div>
				<div class="col-xs-12 col-sm-2">
					<input type="submit" class="btn btn-primary btn-block search-form-submit" value="Search">
				</div>
			</div>
		</form>
	</div>

	<div class="search-header-nav">
		<div>
			<a href="search.web.html">Web</a>
		</div>
		<div>
			<a class="active" href="search.images.html">Images</a>
		</div>
		<div>
			<a href="search.video.html">Videos</a>
		</div>
		<div>
			<a href="search.users.html">Users</a>
		</div>
	</div><!-- /.search-header-nav -->
</div><!-- /.search-header -->

<div class="search-page-content">
	<!-- search results -->
	<div class="card mb-0 bg-white">
		<div class="card-header py-4 bg-white">
			<div class="fz-base text-muted">About 13,000,000 results (.13 second)</div>
		</div>

		<div class="card-block">
			<!-- IMAGE GALLERY -->
			<div id="blueimp-image-carousel" class="img-gallery img-gallery-zoom-effect">
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-11.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-11.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-12.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-12.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-13.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-13.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-14.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-14.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-15.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-15.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-16.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-16.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-17.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-17.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-18.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-18.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-19.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-19.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-110.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-110.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-111.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-111.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-112.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-112.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-113.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-113.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-114.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-114.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-115.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-115.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->

					<div class="col-sm-6 col-md-4 col-lg-3">
						<a href="../assets/global/images/demo-img-16.jpg" class="g__item" data-lightbox="image-gallery-1" data-title="This Is A Dummy Image Caption">
							<figure class="g__figure">
								<img src="../assets/global/images/demo-img-16.jpg" alt="">
								<figcaption class="g__overlay">
									<i class="g__zoom fa fa-search fa-2x"></i>
								</figcaption>
							</figure>
						</a><!-- /.g__item -->
					</div><!-- /.col- -->
				</div><!-- /.row -->
			</div><!-- /.img-gallery -->
			<!-- search results navigation -->
			<nav class="search-results-navigation">
				<ul class="pagination m-0">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
						</a>
					</li>
				</ul>
			</nav><!-- /.search-results-navigation -->
		</div>
	</div>
</div><!-- .search-page-content -->