<div class="site-user">
	<div class="media align-items-center">
		<a href="javascript:void(0)">
			<img class="avatar avatar-circle" src="../assets/global/images/221.jpg" alt="avatar"/>
		</a>

		<div class="media-body hidden-fold">
			<h6 class="mborder-a-0"><a href="javascript:void(0)" class="username">John Doe</a></h6>
			<div class="dropdown">
				<a href="javascript:void(0)" class="dropdown-toggle usertitle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<small>Web Developer</small>
					<span class="caret"></span>
				</a>
				<div class="dropdown-menu animated scaleInDownRight">
					<a class="dropdown-item" href="/index.html">
						<span class="mr-1"><i class="fa fa-home"></i></span>
						<span>Home</span>
					</a>
					<a class="dropdown-item" href="profile.html">
						<span class="mr-1"><i class="fa fa-user"></i></span>
						<span>Profile</span>
					</a>
					<a class="dropdown-item" href="settings.html">
						<span class="mr-1"><i class="fa fa-gear"></i></span>
						<span>Settings</span>
					</a>
					<div role="separator" class="divider"></div>
					<a class="dropdown-item" href="logout.html">
						<span class="mr-1"><i class="fa fa-power-off"></i></span>
						<span>Home</span>
					</a>
				</div>
			</div>
		</div><!-- /.media-body -->
	</div><!-- ./media -->
</div><!-- ./site-user -->

<div class="menubar-scroll-wrapper">
	<div class="site-menubar-inner">
		{{> site-menu-left}}
	</div><!-- .menubar-scroll-inner -->
</div><!-- /.menubar-scroll-wrapper -->
