---
title: Price Columns
body_classes: demo-examples demo-prices bg-white
page:
  styles:
    - ../assets/examples/css/demos/price.css
---

<div class="price-page-wrapper">
	<div class="text-center my-5">
		<h3 class="mb-4 font-weight-normal">Start Up Your Business Today</h3>
		<p class="mb-5 fz-base lh-2">Exogenic enneahedria outspokenness crackbrained Hillel thymyl unfeline semihiatus overearnestly palatodental unstirring unbeknown deviless paramountcy Ophelia searchership emmenology miraculous styleless wankly palpal cinnamoned croak pyrotartaric</p>
		<button class="btn btn-success btn-lg" style="width: 200px;">Start Now</button>
	</div>

	<!-- 3 columns in row -->
	<div class="row">
		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-faded pt-5 px-4">
					<h3 class="text-gray display-1 font-weight-bold mb-4">15<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name border-a-1 font-weight-normal bg-white text-gray">BASIC</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block bg-gray btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-faded pt-5 px-4">
					<h3 class="text-success display-1 font-weight-bold mb-4">39<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name border-a-1 font-weight-normal bg-white text-success">REGULAR</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block btn-success btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-faded pt-5 px-4">
					<h3 class="text-gray display-1 font-weight-bold mb-4">96<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name border-a-1 font-weight-normal bg-white text-gray">BUSINESS</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block bg-gray btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-faded pt-5 px-4">
					<h3 class="text-success display-1 font-weight-bold mb-4">15<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name border-a-1 font-weight-normal bg-white text-success">BASIC</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block btn-outline-success btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-faded pt-5 px-4">
					<h3 class="text-warning display-1 font-weight-bold mb-4">39<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name border-a-1 font-weight-normal bg-white text-warning">REGULAR</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block btn-outline-warning btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-faded pt-5 px-4">
					<h3 class="text-danger display-1 font-weight-bold mb-4">96<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name border-a-1 font-weight-normal bg-white text-danger">BUSINESS</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block btn-outline-danger btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-success text-white pt-5 px-4">
					<h3 class="display-1 font-weight-bold mb-4">15<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name font-weight-normal bg-black">BASIC</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer  mt-5">
						<a href="#" class="btn btn-block btn-outline-success btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-warning text-white pt-5 px-4">
					<h3 class="display-1 font-weight-bold mb-4">39<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name font-weight-normal bg-black">REGULAR</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block btn-outline-warning btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-danger text-white pt-5 px-4">
					<h3 class="display-1 font-weight-bold mb-4">96<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name font-weight-normal bg-black">BUSINESS</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block btn-outline-danger btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-success text-white pt-5 px-4">
					<h3 class="display-3 font-weight-bold mb-4">15<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name font-weight-normal bg-white text-success">BASIC</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer  mt-5">
						<a href="#" class="btn btn-block btn-success btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-warning text-white pt-5 px-4">
					<h3 class="display-3 font-weight-bold mb-4">39<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name font-weight-normal bg-white text-warning">REGULAR</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block btn-warning btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<header class="border-b-1 bg-primary text-white pt-5 px-4">
					<h3 class="display-3 font-weight-bold mb-4">84<sub class="font-weight-200 fz-sm">/ Year</sub></h3>
					<h5 class="price-plan-name font-weight-normal bg-white text-primary">PREMIUM</h5>
				</header>
				<div class="p-5">
					<div class="text-muted">
						<div class="star-rating mb-4">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
					<footer class="pc__footer mt-5">
						<a href="#" class="btn btn-block btn-primary btn-round">ORDER NOW</a>
					</footer>
				</div>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<div class="p-5">
					<header class="pc__header mb-5">
						<div class="star-rating mb-3">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<h4 class="font-weight-normal text-black mb-4">BASIC</h4>
						<h3 class="text-success font-weight-bold">15 <sub class="text-muted font-weight-200 fz-xs">/ Year</sub></h3>
					</header>
					<div class="text-muted">
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
				</div>
				<footer class="pc__footer px-5 pb-5">
					<a href="#" class="btn btn-block btn-outline-success btn-round">ORDER NOW</a>
				</footer>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<div class="p-5">
					<header class="pc__header mb-5">
						<div class="star-rating mb-3">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<h4 class="font-weight-normal text-black mb-4">PREMIUM</h4>
						<h3 class="text-warning font-weight-bold">90 <sub class="text-muted font-weight-200 fz-xs">/ Year</sub></h3>
					</header>
					<div class="text-muted">
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
				</div>
				<footer class="pc__footer px-5 pb-5">
					<a href="#" class="btn btn-block btn-outline-warning btn-round">ORDER NOW</a>
				</footer>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<div class="p-5">
					<header class="pc__header mb-5">
						<div class="star-rating mb-3">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
						<h4 class="font-weight-normal text-black mb-4">BUSINESS</h4>
						<h3 class="text-danger font-weight-bold">120 <sub class="text-muted font-weight-200 fz-xs">/ Year</sub></h3>
					</header>
					<div class="text-muted">
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
				</div>
				<footer class="pc__footer px-5 pb-5">
					<a href="#" class="btn btn-block btn-outline-danger btn-round">ORDER NOW</a>
				</footer>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<div class="p-5">
					<header class="pc__header mb-4">
						<div class="circle circle-lg bg-faded mb-4">
							<i class="fa fa-plug text-gray"></i>
						</div>
						<h4 class="font-weight-normal text-black mb-4">BASIC</h4>
						<h3 class="text-danger font-weight-bold">15 <sub class="text-muted font-weight-200 fz-xs">/ Year</sub></h3>
						<div class="star-rating">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
					</header>
					<div class="text-muted">
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
				</div>
				<footer class="pc__footer px-5 pb-5">
					<a href="#" class="btn btn-block btn-round bg-gray">ORDER NOW</a>
				</footer>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<div class="p-5">
					<header class="pc__header mb-4">
						<div class="circle circle-lg bg-success mb-4">
							<i class="fa fa-plug text-white"></i>
						</div>
						<h4 class="font-weight-normal text-black mb-4">PREMIUM</h4>
						<h3 class="text-success font-weight-bold">90 <sub class="text-muted font-weight-200 fz-xs">/ Year</sub></h3>
						<div class="star-rating">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
					</header>
					<div class="text-muted">
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
				</div>
				<footer class="pc__footer px-5 pb-5">
					<a href="#" class="btn btn-block btn-round btn-success">ORDER NOW</a>
				</footer>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->

		<div class="col-lg-4">
			<div class="price-column bg-white text-center">
				<div class="p-5">
					<header class="pc__header mb-4">
						<div class="circle circle-lg bg-faded mb-4">
							<i class="fa fa-plug text-gray"></i>
						</div>
						<h4 class="font-weight-normal text-black mb-4">BUSINESS</h4>
						<h3 class="text-danger font-weight-bold">120 <sub class="text-muted font-weight-200 fz-xs">/ Year</sub></h3>
						<div class="star-rating">
							<i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i><i class="zmdi zmdi-star-half"></i><i class="zmdi zmdi-star-outline"></i>
						</div>
					</header>
					<div class="text-muted">
						<div class="mb-2">15GB Disk Space</div>
						<div class="mb-2">200GB Bandwidth</div>
						<div class="mb-2">75 Email Accounts</div>
						<div class="mb-2">35 Domains</div>
						<div class="mb-2">SSL Encryption</div>
						<div class="mb-2">Analytics</div>
						<div class="mb-2">Unlimited Subdomains</div>
					</div>
				</div>
				<footer class="pc__footer px-5 pb-5">
					<a href="#" class="btn btn-block btn-round bg-gray">ORDER NOW</a>
				</footer>
			</div><!-- /.price-column bg-white -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.price-page-wrapper -->
